# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Backup / temp files
*~
*.orig
*.bak

# Autotools generated / configure output
config.log
config.status
config.rpath
confdefs.h
conftest.cpp
conftest.err
stamp-h1

# CMake build directories
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Out-of-tree build directories
buildcl/
build/

# Automake dependency tracking
.deps/

# Autotools cache
autom4te.cache/

# APL runtime
.apl.history

# IntelliJ / CLion
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dynamic.classpath
.idea/httpRequests/
.idea/shelf/
.idea/tasks.xml
.idea/usage.statistics.xml

# macOS
.DS_Store